* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.div {
 background-color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
    margin-right: 2px;
    background-color: white;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33.33%; /* limited the 3rd column at 33% for some reason */
    padding: 0px 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: filter 0.3s ease; /* Add a smooth transition effect */

}

.column img {
    transition: filter 0.3s ease, opacity 0.3s ease;
}


.img-container {
    position: relative;
    display: inline-block; /* Ensure inline-block for positioning */
}

.social-item {
    position: absolute;
    top: 8px; /* Adjust the top position as needed */
    right: 8px; /* Adjust the right position as needed */
    z-index: 1; /* Ensure the icon appears above other content */
    opacity: 0.80;

}

.social-item:hover {
    opacity: 1;
}
.social-item img {
    filter: brightness(0) invert(1); /* This will invert the color, making it white */
}


.caption-link {
    position: relative;
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit the color from the parent */
    display: inline-block; /* Make the link fill the content size */
}

.link-button {
    position: absolute;
    top: 8px; /* Adjust the top position as needed */
    right: 8px; /* Adjust the right position as needed */
    background-color: #007BFF; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 8px 12px; /* Adjust padding as needed */
    border-radius: 4px; /* Add rounded corners if desired */
    cursor: pointer;
}

.link-button:hover {
    background-color: #0056b3; /* Adjust the hover background color as needed */
}





.column video {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.img {
    margin-left: 20px;
}

.img-container {
    position: relative;

}

.caption-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(199, 199, 199, 0.7); /* Adjust the background color and opacity */
    color: #000000;
    text-align: center;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s; /* Updated transition property */

}

.img-container:hover .caption-text {
    visibility: visible;
    opacity: 1;
}





/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .column_odd{
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
