.content-box {
	background-color: none;
	margin-bottom: 30px;
	transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.content-box:hover {
	transform: scale(1.05); /* Enlarge the element on hover */
}


@media (max-width: 1000px) {
	.content-box {
		height: 40vw !important;
		margin-block: 30px;
		width: 100% !important;



	}
	.col-md-9 {
		width: 100%;
	}


}

/* Default height for screen widths greater than or equal to 479px */
@media (min-width: 479px) {
	.content-box {
		height: 20vw;
	}
}

/* Adjust the col-md-6 behavior for screens wider than 1000px */
@media (max-width: 1000px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 100%; /* Make the columns stack vertically */
        max-width: 100%; /* Make the columns stack vertically */
    }
}


.box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide the caption initially */
    border-radius: 2vw;
  
}

.box img {
	position: absolute;
	top: 50%;
	left: 50%;

	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;

	}



.box1 img,
.box2 img,
.box3 img,
.box4 img {
	transform: translate(-50%, -50%);
	transform-origin: center center;
}

:root {
	--scale-factor-400: 0.3;
	-
}

.box1 img {
	transform: translate(-50%, -50%) scale(var(--scale-factor-400));
}

.box2 img {
	transform: translate(-50%, -50%) scale(calc(var(--scale-factor-400)*0.70));
}

.box3 img {
	transform: translate(-50%, -50%) scale(calc(var(--scale-factor-400) * 1.25));
}

.box4 img {
	transform: translate(-50%, -50%) scale(calc(var(--scale-factor-400) * 1.75));

}

@media (min-width: 401px) and (max-width: 500px) {
	:root {
	--scale-factor-400: 0.20;
	-
}

}
@media (min-width: 301px) and (max-width: 400px) {
	:root {
	--scale-factor-400: 0.15;
	-
}

}
@media (max-width: 300px) {
	:root {
	--scale-factor-400: 0.10;
	-
}

}



.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    opacity: 0; /* Hide the caption initially */
    transition: opacity 0.3s ease;
}

.box1:hover .caption,
.box2:hover .caption,
.box3:hover .caption,
.box4:hover .caption {
    opacity: 1; /* Show the caption on hover */
}







.col-sm-4 {
	padding-inline: 30px;
	padding-block: 15px;
}

.content-desc {
	display: flex;
	flex-direction: column;

	margin-inline: 20px;
	background-color: grey;
}


.content-desc:hover {

}

section {
	margin-bottom: 100px;
}

.responsive-background {
	transform: rotate(90deg);
  position: fixed;
  bottom: -10vh;
  left: 10%;
  z-index: -1;
  opacity: 5%;
  white-space: nowrap;

  --s: .45em; /* size of the corner */
  --color: #373B44;

  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: font-size 0.3s linear, color 0s, background-color 0s;
  outline-offset: .6em;
  font-size: 30em; /* Initial font size */

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



