html {
  zoom: ;
}


.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



body {
  opacity: 0;
}

/* link sub */
a {
  transition: transform 0.3s ease-in-out;
}


a:hover {
  text-decoration: none;
  transform: scale(1.2);
}


/* link sub */






@keyframes fade {
  from {
    background-color: white;
  }
  to {
    background-color: #f0e5e7;

  }
}

@keyframes fade-out {
  from {
    background-color: #f0e5e7;
  }
  to {
    background-color: white;
  }
}





@keyframes fade2 {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #a6abbd;
    color: white;

  }
}

@keyframes fade2-out {
  from {
    background-color: #a6abbd;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}




/* Keyframes – Wiggling Button*/
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}




/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: none;
  opacity: 0;
  margin-right: 20px; /* Add a margin on the right side of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #747d8c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.bounce-text {
  display: inline-block;
  opacity: 0;
  animation: fade-bounce 2s ease-in-out forwards;
  transform-origin: bottom;
}

@keyframes fade-bounce {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(1);
  }
  30% {
    opacity: 1;
    transform: translateY(-50px) scaleY(1.2);
  }
  60% {
    transform: translateY(0) scaleY(0.8);
  }
  80% {
    transform: translateY(-15px) scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}





/* Header and Navbar */


header {
  padding-block: 5vh;
  padding-inline: 5vh;

  background-color: white;

}

.bg-light{
  background-color:white !important;
}

.navbar-nav {
  background-color: white;
  
}

.nav-item {
  margin-left: 2vh;
  font-size: 1.25em;
}

.navbar-brand {
  font-size: clamp(3em, 3vw, 4em);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.10em;
}


/* Sidebar */




.sidebar {
 
  flex-direction: column;
  background-color: white;

  height: 200px;
  width: 45px;

 
  position: fixed;
  left: 0%;
  top: 40%



}

.sidebar-item {
 margin-block: 15px;
 width: auto;
 display: flex;
 justify-content: center;
}


@media screen and (min-width: 768px) {
  .main-content {
    margin-inline: calc(5vh + 5vw) calc(5vh + 5vw);;

  }
 
}


@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
 
}




/* button */



.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 1.5em;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,

.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  transform: none;
  color: #373B44;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}



.button-52 {
  font-size: 0.25em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: black;


}

.button-52:after {
  content: "";
  background-color: #ffe54c ;
  width: 100%;
  
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -1;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}



