html {
  zoom: ;
}




/* link sub */
a {
  transition: transform 0.3s ease-in-out;
}


a:hover {
  text-decoration: none;
  transform: scale(1.2);
}


/* link sub */

body {
  font-size: calc(0.25rem + 0.35vw + 0.35vh);
}

.jumbo-text {
  font-size: 15em ;
  color: white;
  margin-top: 5vh;
  margin-bottom: ;
  font-weight:;
  
}


@media screen and (max-width: 480px) {
  body {
      font-size: calc(0.5rem + 0.35vw + 0.35vh);
  }

  .jumbo-text {
    font-size: 10em;
  }
}






.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .col-md-9 {
    float: left;
    width: 75%;
  }
}




/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: none;
  opacity: 0;
  margin-right: 20px; /* Add a margin on the right side of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #747d8c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}




/* Header and Navbar */


header {
  padding-block: 5vh;
  padding-inline: 5vh;

  background-color: white;

}

.bg-light{
  background-color:white !important;
}

.navbar-nav {
  background-color: white;
  
}

.nav-item {
  margin-left: 2vh;
  font-size: 1.25em;
}

.navbar-brand {
  font-size: clamp(3em, 3vw, 4em);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0.10em;
}


/* Sidebar */




.sidebar {
 
  flex-direction: column;
  background-color: white;

  height: 200px;
  width: 45px;

 
  position: fixed;
  left: 5%;
  top: 46%



}

.sidebar-item {
 margin-block: 15px;
 width: auto;
 display: flex;
 justify-content: center;
}


@media screen and (min-width: 768px) {
  .main-content {
    margin-inline: calc(5vh + 5vw) calc(5vh + 5vw);;

  }
 
}


@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
 
}



