* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.div {
 background-color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: white;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%; /* limited the 3rd column at 33% for some reason */
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.column img:hover {
    transform: scale(1.020); /* Enlarge the element on hover */
}

.column video {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.img {
    margin-left: 20px;
}





/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .column_odd{
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
