* {
	box-sizing: border-box;
}


body {
	background-color: #dcdde1;
  font-size: calc(0.25rem + 0.35vw + 0.35vh);

	color: ;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 5em;
	color: black;
	font-weight: 300;
}

section{
	border: 2px solid white;




}
article {
	
	border: 2px solid white;
	display: block;

}

p {
	font-size: 1.5em;
	margin-block: 3vh;
	line-height: 2;
	font-weight: 300;
}






/* This is EXTREMELY IMPORTANT, DEFINES THE MARGINS FOR THE NAVBAR AND ENTIRE HTML */
div.container {
	margin-inline: ;
	max-width: 100%;

}




/* Intro */

.intro-content {
	display: flex;
	margin-block: 10vh;
	margin-inline: calc(1vh + 1vw) calc(1vh + 1vw);

	height: auto;
	min-height: 69.5vh;

}

.button-link {
  display: inline-block;
  background-color: white;
  color: black;
  padding-block: 0.5vh;
  padding-inline: 2vh;
  border-radius: 0.75vh;
  margin-inline: 0.5vh;
  margin-block: 10px;
  transition: background-color 2.5s ease;
}

.button-link:hover {
  background-color: white;
  color: black;
  animation: wiggle 2.5s linear;
  transform: none;
}





.button2-link {
  display: inline-block;
  background-color: white;
  color: black;
  padding-block: 0.5vh;
  padding-inline: 2vh;
  border-radius: 0.75vh;
  margin-inline: 0.5vh;
  margin-block: 10px;
  transition: background-color 2.5s ease;
}

.button2-link:hover {

  background-color: #a6abbd;
  color: white;
  animation: wiggle 2.5s linear, fade2 0.5s ease-in;
  transform: none;
}

.button2-link:not(:hover) {
  animation: fade2-out 0.5s ease-out;
  animation-fill-mode: forwards;
  background-color: white;
}









.intro-article {
	display: block;
	max-width: ;
}


.scroll-link {
  display: inline-block;
  float: right;
  transition: transform 0.3s ease-in-out;

}

.scroll-link:hover {
  transform: scale(1.2);
}

.scroll-special {
	display: flex;
	justify-content: end;
	margin-block: 0vh;

	font-weight: 300;
		font-family: 'Avenir', sans-serif;

}

.jumbo-text {
	font-size: 15em ;
	color: white;
	margin-top: 5vh;
	margin-bottom: ;
	font-weight:;
	
}

.light {
	font-weight: 300;
}


.large-text {
	font-size: 10em ;
	color: white;
	font-weight: 300;
	
}








/* Main content*/

.main-content {
	margin-inline: calc(1vh + 1vw) calc(1vh + 1vw);
	margin-block: 10vh;
	max-width: ;
	min-height: 100vh;
	background-color: #A6ABBD;
	border-radius: 5vh;


}

@media screen and (min-width: 600px) {
  .main-content {
  	margin-inline: calc(5vh + 5vw) calc(5vh + 5vw);
  }
}


.desc-item {
	color: white;
	font-size: 1.75em;
	flex-direction: column;
	opacity: 0;
	transition: opacity 1s, transform 0.1s ease-in-out;


}

.desc {
	margin-block: calc(2vh + 2vw) calc(2vh + 2vw);
	opacity: 0;
}

@media screen and (min-width: 600px) {
  .desc {
  	max-width: 800px;
  }
}

  /* Change font size when .col-md-10 collapses */
  @media (max-width: 767px) {
    .title {
      font-size: 30px;
    }
  }

 .socials {

 	display: flex;
 	flex-direction: row;
 	justify-content: right;
 	row align-items: center;
 	margin-bottom: 20px;
 }
  
.social-item {
	margin-top: 10px;
	margin-inline: 20px;
}







