* {
	box-sizing: border-box;
}


article {
	display: flex;
	flex-wrap: wrap;


}
h1 {


	margin-block: 10vh;
  font-weight: 300;

	
}

body {
  background-color: white;
  color: ;
  display: flex;
  flex-direction: column;
  font-family: "Open sans" sans-serif;
 
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-block: 10vh;
  }


/* This is EXTREMELY IMPORTANT, DEFINES THE MARGINS FOR THE NAVBAR AND ENTIRE HTML */
div.container {
	margin-inline: 0vh;
	max-width: 100%;
	

}

p {
	font-size: 16px;

}











.timeline {
	margin-top: vh;
}


.timeline-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:;
  max-width: ;
  padding-bottom: 5vh;
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: clamp(1.5em, 2vw, 2em);
  font-weight: 300;

}

.subtitle {
  font-size: 0.75em;
  font-weight: 400;
  color: darkgrey;
  }

.button {
  display: flex;
  justify-content: flex-end;
  margin-top:;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
  font-size: clamp(0.5em, 3vw, 1em);
  background-color: #a6abbd;
  border-radius: 5px;
  padding-top: 2px;
  padding-inline: clamp(0.5em, 3vw, 1.5em);
  height: 20px;




}

.circle {
  margin-top: 5px;
  width: 18px;
  height: 18px;
  margin-top: px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
  margin-right: 2vh;
  flex-shrink: 0;
}


.timeline-entry::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 24px;
  bottom: 40px;
  border-left: 1px solid lightgrey;
  z-index: -1;
}

.text {
	  font-size: clamp(1.25em, 2vw, 1.35em);
	  font-family:;
	  color: grey;
	  font-weight: 300;
    line-height: 1.75;

}

.responsive-background {
  position: fixed;
  bottom: -10vh;
  left: 10%;
  z-index: -1;
  opacity: 5%;
  white-space: nowrap;

  --s: .45em; /* size of the corner */
  --color: #373B44;

  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: font-size 0.3s linear, color 0s, background-color 0s;
  outline-offset: .6em;
  font-size: 30em; /* Initial font size */

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

